<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.t2health.lib1"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    
        <activity 
        	android:theme="@android:style/Theme.Light"
        	android:name=".filechooser.FileChooser" 
        	android:label=""
        	android:screenOrientation="portrait"
        	>
        </activity>
        
    


</manifest>